*,
*::before,
*::after {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
}

.header__title {
    display: inline-block;
}

.header__light-switch .fi-ss-moon-stars {
    display: none;
}
